.gallery {
    &__inner {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: -25px;
    }
    &__card {
        margin-top: 25px;
    }
    &__card img {
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__link {
        display: block;
        max-width: 180px;
        
    }
    &__text {
        font-size: 20px;
        margin-left: 50px;
        max-width: 300px;
    }
}