html {
    box-sizing: border-box;

}

body {
    background: url('./assets/images/bg-main.png') top #000 no-repeat;
    font-family: 'Roboto', regular;
    color: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
    transition: ease-in-out .3s;
    cursor: pointer;
    &:hover {
        color: #6fc4d4;
    }
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: ease-in-out .3s;
  }


.title_custom {
    font-family: 'Oranienbaum', serif;
    text-transform: uppercase;
}

.title_padding {
    padding: 50px 0;
}

.container_white {
    background-color: #ffffff;
    color: #000000;
    & p {
        color: rgba($color: #000000, $alpha: 0.7);
        font-size: 16px;
    }
}

.img-wrapper {
    width: 100%;
    & img {
        max-width: 100%;
        width: 100%;
    }
}