.header {
    height: 40em;
    padding-top: 30px;
    padding-bottom: 100px;
    & .nav-item {
      font-size: 18px;
      margin-right: 23px; 

      & .nav-link {
        padding: 0;
      }
    }

    &__content {
        height: 100%;
    }
}

.networks {

    & .icon {
        display: block;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        margin-right: 5px;
        &:hover {
            background-position: 0 -25px; 
            opacity: 0.5;
       }
        
    }
    &__inst {
        background: url('./assets/icons/1438557260_inst_4.png');
        
    }
    &__fb {
        background-image: url('./assets/icons/1438557245_ab_4.png');
    }
    &__vk {
        background-image: url('./assets/icons/1438423986_vk_3.png');
    }
}

.phones p {
    text-align: right;
}

.mission {
    margin-top: 50px;
    &__title{
        font-size: 20px;
        padding-bottom: 5px;
    }
    &__subtitle {
        font-size: 16px;
        text-decoration: underline;
        color: #cdb380;
    }
}